* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    display: block; 
     margin-left: auto; 
    margin-right: auto; 
}

body{
    font-family: 'Shadows Into Light';
    background:  gray;
}

h1 {
    text-align: center;
    font-weight:  bold;
}
.form-group{
    text-align:  center;
}
#submit{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}
#devoured {
    font-size: 20px;
    float: right;
    max-width: 50%;
    margin: 0px 150px 0px 0px;
    text-align: left;
    background-color: turquoise;
    padding: 5px;
    border: 2px solid #000;
}
#notDevoured {
    font-size:  20px;
    float: left;
    max-width: 50%;
    text-align: left;
    margin: 0px 100px;
    background-color: teal;
    padding: 5px;
    border: 2px solid #000;
}


